BODY {
	LINE-HEIGHT: 150%; BACKGROUND-COLOR: rgb(227,223,207); MARGIN-TOP: 0px; FONT-FAMILY: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif; MARGIN-BOTTOM: 2em; COLOR: black; FONT-SIZE: 10pt
}
H1 {
	FONT-SIZE: 14pt
}
H2 {
	FONT-SIZE: 12pt
}
H3 {
	FONT-SIZE: 10pt
}
H4 {
	FONT-SIZE: 8pt
}
H1 {
	COLOR: rgb(0,112,175)
}
H2 {
	COLOR: rgb(0,112,175)
}
H3 {
	COLOR: rgb(0,112,175)
}
H4 {
	COLOR: rgb(0,112,175)
}
A {
	COLOR: rgb(0,112,175)
}
HR {
	COLOR: rgb(0,112,175)
}
LABEL {
	COLOR: rgb(0,112,175)
}
H1 {
	MARGIN-BOTTOM: 0px
}
H2 {
	MARGIN-BOTTOM: 0px
}
H3 {
	MARGIN-BOTTOM: 0px
}
H4 {
	MARGIN-BOTTOM: 0px
}
H2 + P {
	MARGIN-TOP: 0px
}
H3 + P {
	MARGIN-TOP: 0px
}
H4 + P {
	MARGIN-TOP: 0px
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: rgb(0,112,175); WIDTH: 85%; HEIGHT: 1px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
SUP {
	LINE-HEIGHT: 50%
}
TH {
	BORDER-BOTTOM: rgb(0,112,175) 1px solid; PADDING-LEFT: 1em
}
TD {
	PADDING-LEFT: 0.5em
}
.align-right {
	TEXT-ALIGN: right
}
.align-left {
	TEXT-ALIGN: left
}
.align-center {
	TEXT-ALIGN: center
}
.centered {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both
}
.hidden {
	DISPLAY: none
}
.block {
	DISPLAY: block
}
.inline {
	DISPLAY: inline
}
.shadow {
	FILTER: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#666666'); -moz-box-shadow: 0 0 1em #666666; -webkit-box-shadow: 0 0 1em #666666; box-shadow: 0 0 1em #666666
}
IMG.icon {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0.5em; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
OL.horizontal {
	LIST-STYLE-TYPE: none
}
UL.horizontal {
	LIST-STYLE-TYPE: none
}
OL.horizontal LI {
	PADDING-RIGHT: 0.6em; FLOAT: left; MARGIN-RIGHT: 0.6em; BORDER-RIGHT: black 1px solid
}
UL.horizontal LI {
	PADDING-RIGHT: 0.6em; FLOAT: left; MARGIN-RIGHT: 0.6em; BORDER-RIGHT: black 1px solid
}
OL.horizontal LI.last {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
UL.horizontal LI.last {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
H1 {
	BORDER-BOTTOM: rgb(0,112,175) 1px solid; PADDING-BOTTOM: 0.25em
}
#outer {
	MARGIN: 0px auto; WIDTH: 988px !important
}
#foot {
	MARGIN: 0px auto; WIDTH: 988px !important
}
#outer {
	BACKGROUND-IMAGE: url(/images/site/bkg.png); BACKGROUND-REPEAT: repeat-y
}
#foot {
	BACKGROUND-IMAGE: url(/images/site/foot.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 100%; MARGIN-BOTTOM: 2em
}
.callout {
	BORDER-BOTTOM: rgb(0,151,76) 1px solid; BORDER-LEFT: rgb(0,151,76) 1px solid; PADDING-BOTTOM: 1em; BACKGROUND-COLOR: rgb(232,248,198); FONT-STYLE: italic; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; BORDER-TOP: rgb(0,151,76) 1px solid; BORDER-RIGHT: rgb(0,151,76) 1px solid; PADDING-TOP: 1em
}
#wrapper {
	BACKGROUND-IMAGE: url(/images/site/gradient-green-tall.png); BACKGROUND-COLOR: rgb(232,248,198); MARGIN: 0px auto; WIDTH: 960px !important; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left bottom; HEIGHT: 100%
}
#masthead {
	BACKGROUND-COLOR: white; HEIGHT: 186px
}
#navigation {
	WIDTH: 20%; COLOR: #0f384f !important; FONT-SIZE: 10pt
}
#navigation A {
	COLOR: #0f384f; MARGIN-LEFT: 1em
}
#navigation .home A {
	MARGIN-LEFT: -0.25em
}
#navigation UL {
	LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#navigation UL LI {
	BACKGROUND-IMAGE: url(/images/site/green-closed.png); PADDING-BOTTOM: 0.25em; BACKGROUND-COLOR: rgb(203,233,136); MIN-HEIGHT: 21px; PADDING-LEFT: 1em; PADDING-RIGHT: 0.25em; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px 100%; PADDING-TOP: 0.25em
}
#navigation UL LI.open {
	BACKGROUND-IMAGE: url(/images/site/blue-closed.png); BACKGROUND-COLOR: rgb(125,192,231)
}
#navigation UL UL LI.open:hover {
	BACKGROUND-IMAGE: url(/images/site/blue-closed.png); BACKGROUND-COLOR: rgb(125,192,231)
}
#navigation UL LI.open A {
	COLOR: white
}
#navigation UL UL {
	LIST-STYLE-TYPE: none; MARGIN: -0.25em -0.25em -0.25em 0px; PADDING-LEFT: 0px
}
#navigation UL UL LI {
	TEXT-INDENT: -2em; PADDING-LEFT: 4em; MARGIN-LEFT: -1em
}
#navigation UL UL LI {
	BACKGROUND-IMAGE: url(/images/site/green-open.png); BACKGROUND-COLOR: rgb(169,218,128); COLOR: rgb(0,112,175)
}
#navigation UL UL LI:hover {
	BACKGROUND-IMAGE: url(/images/site/green-open.png); BACKGROUND-COLOR: rgb(169,218,128); COLOR: rgb(0,112,175)
}
#navigation UL UL LI.open {
	BACKGROUND-IMAGE: url(/images/site/blue-open.png); BACKGROUND-COLOR: rgb(173,223,255)
}
#navigation UL UL LI.open A {
	COLOR: black
}
#content {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: white; MARGIN: 0px; MIN-HEIGHT: 600px; PADDING-LEFT: 0px; WIDTH: 80%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#content HR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: rgb(0,112,175); MARGIN: 0px 2em; WIDTH: auto; HEIGHT: 2px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#content .disclaimer {
	FONT-STYLE: italic; FONT-SIZE: 85%
}
IMG.top {
	BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid; PADDING-BOTTOM: 0.25em; BACKGROUND-COLOR: white; MARGIN: 1em; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; PADDING-TOP: 0.25em
}
#entry {
	MARGIN-TOP: -1em; WIDTH: 73%
}
#entry A {
	COLOR: rgb(0,151,76); TEXT-DECORATION: underline
}
#entry > DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px 1em; PADDING-LEFT: 1em; WIDTH: auto; PADDING-RIGHT: 1em; PADDING-TOP: 0px
}
#entry TABLE TBODY TD {
	PADDING-LEFT: 1em
}
#quick-links {
	LINE-HEIGHT: 150%; MARGIN-TOP: -1em; WIDTH: 25%; MARGIN-BOTTOM: 1em; FONT-SIZE: 9pt; MARGIN-RIGHT: 1em
}
#quick-links HR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: rgb(0,112,175); MARGIN: 1em; HEIGHT: 1px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#quick-links IMG#quick-links-shadow {
	POSITION: relative; DISPLAY: block; MARGIN-BOTTOM: -1em; TOP: -1em
}
#quick-links H1 {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#quick-links DIV {
	BACKGROUND-IMAGE: url(/images/site/gradient-green-tall.png); PADDING-BOTTOM: 1em; BACKGROUND-COLOR: rgb(232,248,198); PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left bottom; HEIGHT: 100%; PADDING-TOP: 1em
}
#quick-links P {
	MARGIN: 1em
}
#quick-links UL {
	LIST-STYLE-POSITION: inside; MARGIN-TOP: -0.5em; PADDING-LEFT: 1em; MARGIN-RIGHT: 1em
}
#quick-links UL LI {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 0.5em
}
#footer {
	PADDING-BOTTOM: 1em; MARGIN: 0px 1em 2em; COLOR: rgb(102,102,102); FONT-SIZE: 85%
}
#footer UL {
	PADDING-RIGHT: 1em
}
#footer P {
	MARGIN-LEFT: 19em
}
#footer UL A {
	COLOR: black
}
#map-canvas {
	BORDER-BOTTOM: rgb(0,112,175) 1px solid; BORDER-LEFT: rgb(0,112,175) 1px solid; WIDTH: 100%; HEIGHT: 382px; BORDER-TOP: rgb(0,112,175) 1px solid; BORDER-RIGHT: rgb(0,112,175) 1px solid
}
.appliancebox {
	WIDTH: 240px; MARGIN-BOTTOM: -10px; FLOAT: left; MARGIN-LEFT: 10px
}
.appliancebox IMG {
	MARGIN-BOTTOM: -18px; MARGIN-LEFT: -25px
}
.appliancebox P {
	PADDING-LEFT: 10px; WIDTH: 230px
}
#leftcolumn-center {
	WIDTH: 242px; FLOAT: left
}
.appliancebox-leftcolumn-center {
	WIDTH: 240px; FLOAT: left
}
.appliancebox-leftcolumn-center IMG {
	
}
.appliancebox-leftcolumn-center P {
	MARGIN-TOP: -5px; PADDING-LEFT: 20px; WIDTH: 230px; MARGIN-BOTTOM: -10px
}
#rightcolumn-center {
	WIDTH: 235px; FLOAT: left
}
#vendor-list {
	WIDTH: 100%
}
#vendor-list THEAD {
	WIDTH: 100%
}
#vendor-list TBODY {
	WIDTH: 100%
}
